<ng-toast></ng-toast> <!-- NEW WAY -->
<div class="container_main ">
  <div class="container__header w-full">
    <h4 class="text-black pt-1 text-[22px] header-name pl-10">Projetos</h4>
  </div>
  <div class="container_table bg-white shadow-md">
    <!-- Button criar projetos -->
    <div class=" container__header__table">
      <button class="button bg-green-500 hover:bg-green-700 shadow-md hover:shadow-lg" [routerLink]="['novo']">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Adicionar projeto
      </button>
    </div>
    <!-- End button criar projetos -->

    <!-- Tabela -->
    <div class="flex flex-col table__container table-auto	">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8 container-table">
          <div class="overflow-hidden rounded">
            <table class="min-w-full text-left text-sm font-light table-auto	">
              <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="px-6 py-4">Nome</th>
                  <th scope="col" class="px-6 py-4">Data Inicial</th>
                  <th scope="col" class="px-6 py-4">Data Entrega</th>
                  <th scope="col" class="px-6 py-4">Status</th>
                  <th scope="col" class="px-6 py-4">Valor</th>
                  <th scope="col" class="px-6 py-4"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b transition duration-300 ease-in-out hover:bg-stone-50  hover:cursor-pointer" *ngFor="let projeto of Projetos.data | paginate: { itemsPerPage: 5,
                      currentPage: Projetos.paginaAtual,
                      totalItems: Projetos.totalItens}">
                  <td class="whitespace-nowrap px-6 py-4">{{projeto.nome}}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{projeto.dataInicio}}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{projeto.dataEntrega}}</td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <span [ngClass]="validarStatus(projeto)"
                      class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">{{projeto.status}}</span>
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">R$ {{projeto.valor}}</td>
                  <td class="whitespace-nowrap px-6 py-4 flex gap-3">
                    <button (click)="abrirDialogDelete(projeto)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 stroke-red-600 cursor-pointer"
                        data-modal-target="popup-modal" data-modal-toggle="popup-modal">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                    <button (click)="editarProjeto(projeto)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 stroke-yellow-600 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ngx-skeleton-loader *ngIf="aguardandoDados" count="10" appearance="line"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
    <!-- End tabela -->

    <!-- Pagination -->
    <div class="flex items-center justify-between 0 px-4 py-3 sm:px-6 ">

      <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between container-pagination">
        <div>
          <nav>
            <pagination-controls class="paginator" nextLabel="" previousLabel=""
              (pageChange)="mudarDePagina($event)"></pagination-controls>
          </nav>
        </div>
        <div>
          <p class="text-sm text-gray-700 block">
            Total de paginas
            <span class="font-medium">{{ Projetos.totalDePaginas }}</span>
          </p>
        </div>
      </div>
    </div>
    <!-- End pagination -->
  </div>