<div class="container__remover_red">
    <div class="container_icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 icon-remove">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
    </div>
</div>
<div class="container__data">
    <h1 mat-dialog-title> Você deseja realmente deletar este projeto?</h1>
    <div mat-dialog-actions style="justify-content: center; gap: 8px;">
        <button class="btn bg-stone-400 hover:bg-stone-600 text-white" (click)="fecharDialog()">Cancelar</button>
        <button class="btn bg-red-500 text-white hover:bg-red-800" cdkFocusInitial
            (click)="removerProjeto()">Ok</button>
    </div>
</div>