.container_main{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.container_table{
    min-width: 85%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
    border-radius: .4rem;
    position: relative;
}

.button {
    position: absolute;
    top: 4%;
    right: 2%;
}