<div class="w-full h-full flex content-center justify-center">
    <div class="container_main text-zinc-900">
        <div class="container_text flex gap-2">
            <img src="../../../assets/Imgs/404 Error-bro.png" class="img-fluid img-not-found" alt="">
            <div class="flex flex-col justify-center content-center gap-1">
                <h2 class="header-h2 text-center" style="font-size: 50px;">Ops!</h2>
                <p style="font-size: 25px;">Caminho não encontrado!</p>
                <button (click)="voltarAoLogin()" class="btn roudend bg-red-500 text-white hover:text-zinc-900 hover:bg-red-600">Voltar para tela de login</button>
            </div>
        </div>
    </div>
</div>